html {
  font-size: 100%;
  box-sizing: border-box;
  *,
  *:before,
  *:after {
      box-sizing: inherit;
  }
}

body {
  background: $outer-bg-color;
  font-family: $primary-font-family;
  margin: 0;
  font-size: $default-font-size;
  color: $primary-font-color;
  font-weight: normal;
}