$offcanvas-sizes: ( small: 100%, );
$offcanvas-background: $primary-color;
$offcanvas-background-opacity: 1;
$offcanvas-links-color: $primary-font-color;
$offcanvas-text-color: $primary-font-color;
//fix to remove scrollbars when off-canvas menu is opened
html,
body {
  overflow-x: hidden;
}

//off-canvas content
.off-canvas {
  display: flex;
  flex-direction: column;
  background: rgba($offcanvas-background, $offcanvas-background-opacity);
  color: $offcanvas-text-color;
  overflow: auto;
  text-align: center; //color of the links 
  a:link,
  a:visited {
    font-size: rem-calc(50);
    color: $offcanvas-links-color;
  } //off-canvas close button styles
  .close-button {
    z-index: 101;
    color: $offcanvas-text-color;
  }
}

//page content
.off-canvas-content {
  min-height: 100vh;
  z-index: 101;
}

//off-canvas scale effect
.offcanvas-scale {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  transform: scale(0.9);
  transition: transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
  &.is-open {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
    transition: transform 0.4s, opacity 0.4s;
    z-index: 9999;
  }
}